<!DOCTYPE html>                                                                      
<html> 
  <head>
    <title>Kangaroo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= vite_stylesheet_tag 'application', media: 'all' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <script src="https://kit.fontawesome.com/dca18e0352.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <% if false %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if false %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
                                                                                     