<!DOCTYPE html>                                                                      
<html> 
  <head>
    <title>Kangaroo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= vite_stylesheet_tag 'application', media: 'all' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    <script src="https://kit.fontawesome.com/dca18e0352.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <% if false %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if false %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
                                                                                     